.imageContainer{
    display: flex;
    /* background-color: aqua; */
    /* flex-direction: row; */
}

.image{
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua;  */
    text-align: center;
}

.image img{
    margin-top: 15px;
    height:55%;
    width: 60%;
    padding: 10px;
    border: 1px solid rgb(85, 84, 84);
    /* width: auto; */
}

.verticalLine{
    background-color: rgb(123, 121, 121);
    width: 0.2px;
    margin:0px 10px 0px 10px
}

.comment{
    /* background-color: red; */
    text-align: center;
    width: 59vw;
}

.horizontal{
    width: 60%;
}